@import '../../styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 49px 148px;
  width: 100%;
  height: 100%;
}

.title {
  @include H1;
  color: $gray80;
}

.content {
  margin-top: 40px;
  @include H1;
  color: $gray50;
}
