@import '../../../../styles/style.scss';

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.title {
  @include B1bold;
  color: $gray80;
  margin-bottom: 16px;
}
.reset {
  width: 97px;
  display: inline-flex;
  padding: 12.5px 18px 12.5px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  border-radius: 8px;
  @include B1med;
  background-color: $gray20;
  color: $gray70;
}

.btnWrapper {
  position: absolute;
  bottom: 0;
  background-color: $wh;
  display: flex;
  gap: 10px;
}
