$primary50: #0b9b9b;
$primary40: #3cafaf;
$primary30: #6dc3c3;
$primary20: #9dd7d7;
$primary10: #ceebeb;
$primary05: #edf8f8;
$primaryBG: rgba(157, 215, 215, 0.8);

$error: #d6173b;
$talk: #ff5b4a;

$bk: #000000;
$wh: #ffffff;
$gray80: #2d2d2d;
$gray70: #555555;
$gray60: #717171;
$gray50: #8e8e8e;
$gray40: #c6c6c6;
$gray30: #d8d8d8;
$gray20: #e4e4e4;
$gray10: #f0f0f0;
$gray05: #f8f8f8;
