@import '../../styles/style.scss';
.root{
    margin: 49px 148px 0 148px;
    display: flex;
    flex-direction: column;
}
.title{
    color:$gray80;
    @include H1;
    margin-bottom: 40px;

}

.wrapper{
    width: 368px;
    height: 373px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid $gray30;
    background: #fff;
}   

.btnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.area{
    color: $gray80;
    @include B2med;
}
.head{
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 166px;
    gap:124px;
}



.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;

}
.charWapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px
    ;width: 150px;
    height: 150px;

}
